includes:
  - phpstan-baseline.neon

parameters:
  level: 9
  paths:
    - src/
    - tests/
  tmpDir: ./.tmp/phpstan/
  ignoreErrors:
    # TODO Add those return types.
    - '#return type has no value type specified in iterable type array\.$#'
